/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* ---------- CSS Variables ---------- */

:root {
  --logo-font: 'Space Mono', monospace;
  --main-font: 'Inter', sans-serif;

  --regular: 400;
  --medium: 500;
  --bold: 700;

  --big-gap-mobile: 5.5rem;
  --gap-mobile: 2rem;

  --big-icon-size-mobile: 2.3rem;
  --medium-icon-size-mobile: 1.6rem;
  --small-icon-size-mobile: 1.3rem;

  --bigger-font-size-mobile: 1.75rem;
  --big-font-size-mobile: 1.45rem;
  --medium-font-size-mobile: 1.3rem;
  --semi-small-font-size-mobile: 1.2rem;
  --regular-font-size-mobile : 1rem;
  --small-font-size-mobile: .9rem;

  --home-padding-mobile: 0 1.6rem;
  --main-padding-mobile: 7rem 1.6rem 1.2rem 1.6rem;
  --even-padding-mobile: 1.2rem 1.6rem; 

  --animation-transition: .3s;

  --dropshadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* ---------- General ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://haus-imgs.s3.amazonaws.com/background_grey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

p,
span,
h1,
input {
  font-family: var(--main-font);
  font-weight: var(--regular);
  color: #fff;
}

a {
  font-family: var(--main-font);
  text-decoration: none;
  color: #fff;
}

i {
  color: #fff;
  line-height: 1;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* ---------- Reuseable Classes ---------- */

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-position {
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center; 
}

.grey-background {
  background-image: url('https://haus-imgs.s3.amazonaws.com/background_grey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.add-dropshadow {
  box-shadow: var(--dropshadow);
}

.subpages-footer-container {
  margin-top: 120px;
}

.button {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.button p {
  font-size: var(--medium-font-size-mobile);
}

.button i {
  font-size: var(--medium-icon-size-mobile);
  transform: scaleX(-1);
}

/* ---------- Header ---------- */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--even-padding-mobile);
  z-index: 100;
}

.nav-container {
  align-items: flex-start;
}

.header-logo {
  font-family: var(--logo-font);
  color: #fff;
  font-size: 2.6rem;
  line-height: 2.5rem;
}

.nav-container i {
  font-size: var(--big-icon-size-mobile);
  line-height: .8;
  margin-right: -5px;
}

.dropdown-menu-container {
  align-items: flex-start;
  position: absolute;
  top: -420%;
  left: 0;
  width: 100%;
  padding: var(--even-padding-mobile);
  box-shadow: var(--dropshadow);
  transition: var(--animation-transition);
}

.dropdown-menu-container i {
  margin-right: -8px;
}

.dropdown-menu-logout {
  margin-top: 30px;
}

.dropdown-menu li {
  font-size: var(--medium-font-size-mobile);
  cursor: pointer;
}

.dropdown-menu-logout i {
  font-size: var(--small-icon-size-mobile);
  margin-left: 5px;
  padding-top: 1px;
}

.show-dropdown {
  top: 0;
}

.dropdown-menu {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}

.dropdown-menu li:hover,
.dropdown-menu-container .bx-x:hover {
  opacity: .6;
}

/* ---------- Home ---------- */

.home-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--home-padding-mobile);
}

.home-headline-container {
  width: 100%;
}

.home-headline-container h1 {
  font-size: 2.1rem;
  font-weight: var(--medium);
  margin-bottom: 5px;
}

.home-headline-container p {
  font-size: 1rem;
}

.home-footer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: var(--home-padding-mobile);
}

/* ---------- Footer ---------- */

.footer-container {
  position: relative;
  padding-bottom: 1.3rem;
}

.footer-container p,
.footer-container a {
  font-size: var(--medium-font-size-mobile);
}

.footer-container a {
  position: absolute;
  right: 0;
  bottom: 3.5rem;
}

.footer-container a:hover {
  opacity: .6;
}

/* ---------- Furnitures ---------- */

.furnitures-container {
  width: 100vw;
  height: 100vh;
  padding: 11rem 1.6rem 0rem 1.6rem;
  flex-direction: column;
  align-items: stretch;
}

.furnitures-operations-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 7rem 1.6rem 2.2rem 1.6rem;
  width: 100%;
  /* background-size: 285%; */
}

.furnitures-operations-container i {
  font-size: var(--small-icon-size-mobile);
  margin-right: -2px;
}

.furnitures-operations-container i:hover {
  opacity: .6;
}

.cat-selections-container {
  flex-basis: 80%;
  max-width: 500px;
}

.cat-selection {
  cursor: pointer;
}

.cat-selection span {
  font-size: var(--medium-font-size-mobile);
  position: relative;
}

.cat-selection span:hover {
  opacity: .6;
}

input[type="radio"]  {
  opacity: 0;
  width: 0;
}

.cat-selection input:checked ~ span::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 400%);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #fff;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--gap-mobile);
}
.card {
  cursor: pointer;
}

.card:hover .card-headline p {
  opacity: .6;
}

.card-headline p {
  font-size: var(--small-font-size-mobile);
}

.card-img-container {
  width: 100%;
  height: 150px;
  background-color: #000;
  overflow: hidden;
  margin-bottom: 10px;
}

.back-to-top-container {
  position: fixed;
  bottom: 6.8rem;
  right: 1.6rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 1.1rem 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);;
}

.back-to-top-container i {
  font-size: 1.5rem;
  color: #afafaf;
}

/* ---------- Search ---------- */

.search-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.search-container form input {
  height: 100px;
  width: 100vw;
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: transparent;
  caret-color: transparent;
}

.search-container i {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  font-size: 1.9rem;
}

.search-container i:hover {
  opacity: .6;
}

/* ---------- Inspect ---------- */

.inspect-container {
  padding: 15.3rem 1.6rem 0rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.inspect-info-container {
  align-items: flex-start;
  padding: var(--main-padding-mobile);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.inspect-furniture-container {
  flex-direction: column;
  align-items: flex-start;
  height: 110px;
}

.shrink-container {
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
}

.inspect-furniture p {
  font-size: var(--small-font-size-mobile);
}

.hide-price {
  display: none;
}

.big-font {
  font-size: var(--big-font-size-mobile);
  font-weight: var(--medium);
  margin-bottom: 2px;
}

.small-font {
  font-size: 1rem;
  margin-bottom: 2px;
}

.furniture-designer {
  max-width: 160px;
  text-align: right;
}

.hide-designer {
  display: none;
}

.add-to-cart {
  cursor: pointer;
}

.add-to-cart p {
  font-size: var(--semi-small-font-size-mobile);
}

.add-to-cart i {
  font-size: var(--medium-icon-size-mobile);
  padding-bottom: .5px;
  margin-left: -3px;
}

.inspect-imgs-container {
  flex-direction: column;
  row-gap: var(--gap-mobile);
}

.inspect-detail {
  margin-top: 1.6rem;
}

.inspect-detail p {
  font-size: var(--small-font-size-mobile);
}

.related-furnitures-container {
  margin-top: var(--big-gap-mobile);
}

.related-furnitures-container h1 {
  font-size: var(--big-font-size-mobile);
  margin-bottom: 1.3rem;
}

/* ---------- Users ---------- */

.forms-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
  padding: var(--main-padding-mobile);
}

/* ---------- Form ---------- */

.form-container {
  position: absolute;
  min-width: 323px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--even-padding-mobile);
}

.form-header-container {
  align-items: flex-start;
  margin-bottom: 2rem;
}

.form-header-container h1 {
  font-size: var(--bigger-font-size-mobile);
  font-weight: var(--medium);
}

.form-header-container i {
  font-size: var(--medium-icon-size-mobile);
  margin-right: -5px;
  margin-top: -5px;
}

.form-item-container {
  margin-top: 1rem;
}

.form-item-container p {
  font-size: var(--small-font-size-mobile);
}

.form-items-group {
  flex-direction: column;
  align-items: stretch;
}

.form-container input {
  background: transparent;
  outline: none;
  border: none;
  height: 40px;
  width: 100%;
  padding-bottom: -10px;
  font-size: var(--medium-font-size-mobile);
  opacity: .5;
}

.form-container input::placeholder {
  color: #fff;
  opacity: .7;
  font-size: var(--medium-font-size-mobile);
}

.form-operations-container {
  margin-top: 3rem;
  align-items: flex-end;
}

.back-to-signin {
  font-size: var(--small-font-size-mobile);
  cursor: pointer;
}


/* ---------- Errors ---------- */

.errors-container {
  margin-top: 1rem;
}

.errors-container p {
  font-size: .75rem;
  color: yellow;
}

/* ---------- Cart ---------- */

.cart-container {
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  width: 100%;
  padding: 10.6rem 1.6rem 0rem 1.6rem;
}

.cart-headline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--main-padding-mobile);
}

.cart-headline p {
  font-size: var(--bigger-font-size-mobile);
  font-weight: var(--medium);
}

.cart-cards-container {
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--gap-mobile);
}

.cart-card {
  max-width: 500px;
  flex-direction: column;
  align-items: stretch;
}

.cart-img-container {
  overflow: hidden;
  max-height: 150px;
  margin-bottom: 10px;
  cursor: pointer;
}

.cart-card-info-container {
  margin-bottom: 1rem;
}

.cart-card-info-container h1 {
  display: inline-block;
  font-size: var(--medium-font-size-mobile);
  font-weight: var(--medium);
  cursor: pointer;
}

.cart-card-info-container h1:hover {
  opacity: .6;
}

.cart-card-info-container p {
  font-size: var(--small-font-size-mobile);
}

.cart-card-operations-container p {
  font-size: var(--small-font-size-mobile);
}

.quantity-operation,
.quantity-buttons {
  column-gap: 10px;
}

.quantity-buttons i,
.remove-button {
  cursor: pointer;
}

.quantity-buttons i:hover,
.remove-button:hover {
  opacity: .6;
}

.empty-cart-message {
  font-size: var(--small-font-size-mobile);
}

.cart-total-container {
  margin-top: var(--big-gap-mobile);
}

.cart-total-container .flex-box {
  margin-top: 1rem;
}

.cart-total-container .flex-box p {
  font-size: var(--small-font-size-mobile);
}

.cart-total-container .button {
  margin-top: 2.5rem;
}

/* ---------- Checkout ---------- */

.checkout-container {
  flex-direction: column;
  align-items: stretch;
  padding: 7.2rem 1.6rem 0rem 1.6rem;
  height: 100vh;
  width: 100%;
}

.checkout-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6rem 0 1.2rem 0;
  z-index: 99;
}

.checkout-order-container {
  max-width: 500px;
}

.checkout-headline {
  font-size: var(--bigger-font-size-mobile);
  font-weight: var(--medium);
  margin-bottom: var(--gap-mobile);
}

.checkout-cards-container {
  margin-bottom: var(--gap-mobile)
}

.checkout-card-container {
  align-items: flex-start;
  margin-bottom: 1.2rem;
}

.checkout-card-container h1,
.checkout-card-container p {
  font-size: var(--small-font-size-mobile);
}

.checkout-card-container h1 {
  line-height: .9rem;
}

.checkout-card {
  align-items: flex-start;
  column-gap: 10px;
}

.checkout-img-container {
  width: 110px;
  overflow: hidden;
}

.checkout-summary {
  margin-bottom: var(--gap-mobile);
}

.checkout-summary p {
  font-size: var(--small-font-size-mobile);
}

.checkout-summary .flex-box {
  margin-top: 1rem;
}

.checkout-total .flex-box p {
  font-size: var(--semi-small-font-size-mobile);
  font-weight: var(--medium);
}

.checkout-form {
  position: static;
  padding: 0;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(0, 0);
  margin-top: 4rem;
  z-index: 1;
}

.checkout-form .form-items-group {
  flex-direction: row;
  justify-content: space-between;
}