/* ---------- Fonts ---------- */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* ---------- CSS Variables ---------- */

:root {
  --logo-font: 'Space Mono', monospace;
  --main-font: 'Inter', sans-serif;

  --regular: 400;
  --medium: 500;
  --bold: 700;

  --header-icon-mobile: 2.3rem;

  --medium-mobile-font-size : 1.3rem;

  --home-mobile-padding: 0 1.9rem;
  --header-mobile-padding: 1.5rem 1.9rem; 

  --animation-transition: .3s;
}

/* ---------- General ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

p,
h1 {
  font-family: var(--main-font);
  font-weight: var(--regular);
  color: #fff;
}

a {
  font-family: var(--main-font);
  text-decoration: none;
  color: #fff;
}

i {
  color: #fff;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.grey-background {
  background-image: url('https://haus-imgs.s3.amazonaws.com/background_grey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ---------- Reuseable Classes ---------- */

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-position {
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center; 
}

/* ---------- Header ---------- */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--header-mobile-padding);
  z-index: 100;
}

.nav-container {
  align-items: flex-start;
}

.header-container h1 {
  font-family: var(--logo-font);
  color: #fff;
  font-size: 2.6rem;
  line-height: 2.5rem;
}

.nav-container i {
  font-size: var(--header-icon-mobile);
  cursor: pointer;
}

.dropdown-menu-container {
  align-items: flex-start;
  position: absolute;
  top: -320%;
  left: 0;
  width: 100%;
  padding: var(--header-mobile-padding);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: var(--animation-transition);
}

.dropdown-menu-logout {
  margin-top: 30px;
  cursor: pointer;
}

.dropdown-menu-logout p {
  font-size: var(--medium-mobile-font-size);
}

.dropdown-menu-logout i {
  font-size: 1.2rem;
  margin-left: 5px;
  padding-top: 1px;
}

.show-dropdown {
  top: 0;
}

.dropdown-menu {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}

.dropdown-menu a {
  font-size: var(--medium-mobile-font-size);
}

.dropdown-menu a:hover,
.dropdown-menu-logout:hover,
.dropdown-menu-container .bx-x:hover {
  opacity: .6;
}

/* ---------- Home ---------- */

.home-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--home-mobile-padding);
}

.home-headline-container {
  width: 100%;
}

.home-headline-container h1 {
  font-size: 2.1rem;
  font-weight: var(--medium);
  margin-bottom: 5px;
}

.home-headline-container p {
  font-size: 1rem;
}

.home-footer-container {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  padding: var(--home-mobile-padding);
}

/* ---------- Footer ---------- */

.footer-container {
  position: relative;
}

.footer-container p,
.footer-container a {
  font-size: var(--medium-mobile-font-size);
}

.footer-container a {
  position: absolute;
  right: 0;
  bottom: 2rem;
}

.footer-container a:hover {
  opacity: .6;
}